/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  /* background-color: #ffaa0d; */
  /* background-color: #413e3e; */
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0;
}
